* {
    margin: 0;
    font-size: 18px;
    padding: 0;
    font-family: 'Courier New', Courier, monospace; 
}

:root {
    --primary-color:#7864FA;
    --bg-color: #F2F2F2;
    --light-color: #D5D0F2;
    --light-bg-color:  #FAFAFA;
    --element-light-color: #ded8fe;
    --secondary-text-color: #7E7E7E;
    --dark-mode-nav:  #1C1F26;
    --dark-mode-sidebar: #c2c5cd;
    --dark-mode-menues: #95a0bf;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 8fr;
}

.projects,
.sidebar {
    background-color: var(--bg-color);
}

.top-menue {
    grid-column: 2 / 4 ;
}

.bottom-menue {
    grid-column: 2 / 4 ;
}

.nav {
    grid-row: 1 / 4;
    background-color: var(--primary-color);
    display: grid;
    grid-template-rows: 1fr 3fr 5fr;
    align-items: center;
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 30px;
    color: white;
}

.nav.night-mode  {
    background-color: var(--dark-mode-nav);
}

.logo {
    font-size: 46px;
    font-family: 'M PLUS Code Latin', monospace;
    font-weight: 900;
    display: flex;
    align-items: center;
    gap: 16px;
}

ul {
    list-style-type: none;
    padding: none;
    margin-top: 30px;
}

li {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    display: flex;
    align-items: start;
}

li::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 20px;
    background-size: cover;
}

li:hover {
    color: rgb(65, 65, 65);
    cursor: pointer;
}

#home::before {
    background-image: url("home.png");
}

#profile::before {
    background-image: url("id-card.png");
}

#messages::before {
    background-image: url("message.png");
}

#history::before {
    background-image: url("history.png");
}

#tasks::before {
    background-image: url("task.png");
}

#commynities::before {
    background-image: url("group-users.png");
}

.modes {
    width: 65px;
    height: 30px;
    border-radius: 39px;
    padding: 5px 4px;
    background-color: var(--light-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-self: center;
    margin-top: 50px;
    margin-right: 40px;
    
}

.modes.night-mode {
    background-color: #9c9c9c;
    flex-direction: row-reverse;
}

.modes:hover {
    cursor: pointer;
}

.round {
    background-color: white;
    width: 29px;
    height: 29px;
    border-radius: 50%;
}

.mode-img {
    background-image: url(sun.png);
    background-size: cover;
    width: 20px;
    height: 20px;
}

.mode-img.night-mode {
    background-image: url(moon.png);
}

.top-menue {
    display: grid;
    grid-template-columns: 1fr 20fr 1fr 1fr 3fr;
    align-items: center;
    gap: 20px;
    padding-right: 40px;
    padding-left: 40px;
    background-color: var(--light-bg-color);
}

.top-menue.night-mode {
    background-color: var(--dark-mode-menues);
}

.top-menue > .icon {
    width: 20px;
    height: 20px;
    justify-self: center;
}

.search-bar {
    background-color: #E2E5F5;
    border-radius: 10px;
    height: 25px;
    width: 85%;
    min-width: 100px;
}

.search-bar:hover {
    cursor: text;
}

.bottom-menue {
    display: grid;
    grid-template-columns: 1fr 8fr repeat(3, 1fr);
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    gap: 20px;
    background-color: var(--light-bg-color);
}

.bottom-menue.night-mode {
    background-color: var(--dark-mode-menues);
}

button {
    border: 2px solid black;
    color: black;
    font-weight: 500;
    border-radius: 14px;
    width: 90px;
    height: 40px;
    background-color: white;
}

button:hover {
    cursor: pointer;
}

.bottom-menue  p {
    font-size: 14px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    margin-top: 4px;
}

.bottom-menue img {
    width: 70px;
    height: 70px;
}

.bottom-menue a {
    justify-self: center;
}

.sidebar {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 40px;
}

.sidebar.night-mode {
    background-color: var(--dark-mode-sidebar);
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.announcements-card,
.trending-card {
    background-color: white;
    padding: 10px 20px;
    border: 2px solid var(--light-color);
    border-radius: 14px;
    margin-bottom: 10px;
}

.row {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    padding-top: 10px;
    gap: 4px;
}

.row > p {
    font-size: 14px;
    color: var(--secondary-text-color);
}

.border {
    border-bottom: 1px solid rgb(204, 204, 204);
    border-top: 1px solid rgb(204, 204, 204);
} 

.trending-project {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 10px;
    margin-top: 8px;
}

img {
    width: 50px;
    height: 50px;
}

.row > .nickname {
    font-weight: 700;
    color: #616060; 
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 8fr 8fr;
    padding: 40px 60px;
    gap: 20px;
}

.projects.night-mode {
    background-color: var(--dark-mode-sidebar);
}

.projects > h2 {
    grid-column: 1 / 3;
    margin-top: 0;
    padding-left: 4px;
}

.card {
    background-color: var(--element-light-color);
    padding: 2px;
    border-radius: 14px;
    max-height: 250px;
    max-width: 480px;
    display: grid;
    grid-template-rows: 10fr 1fr;
}

#card-content {
    background-color: white;
    padding: 20px 40px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.project-link {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
    font-style: italic;
}

.project-link > a::after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-size: cover;
    background-image: url(external-link.png);
}

#card-content > p {
    color:var(--secondary-text-color);
}
